# Pandas

In [4]:
import pandas as pd # import pandas
import numpy as np # import numpy
import matplotlib.pyplot as plt # import libreria para plotear
pd.set_option('max_columns', 50) # maximo de columnas a mostrar cuando se muestra un pandas dataframe
# indica a python que plotee en el notebook
%matplotlib inline

## Series

Crear una estructura _Series_ con indice por defecto

In [5]:
# crear una estructura Series desde una lista arbitraria
s = pd.Series([7, 'Heisenberg', 3.14, -1789710578, 'Happy Eating!'])
#print s

In [7]:
print (s[0])
print (s[1])
print (s[2])
print (s[3])
print (s[4])

7
Heisenberg
3.14
-1789710578
Happy Eating!

Crear una estructura _Series_ con indicando un indice

In [8]:
s = pd.Series([7, 'Heisenberg', 3.14, -1789710578, 'Happy Eating!'],
              index=['A', 'Z', 'C', 'Y', 'E'])
print(s)

A                7
Z       Heisenberg
C             3.14
Y      -1789710578
E    Happy Eating!
dtype: object

Se puede acceder a los elementos utilizando el indice

In [ ]:
print s['A']
print s['Z']
print s['C']
print s['Y']
print s['E']

Se puede acceder a los elementos igualmente utilizando el indice numerico

In [ ]:
print s[0]
print s[1]
print s[2]
print s[3]
print s[4]

Tambien se puede convertir un diccionario a una estructura _Series_

In [9]:
d = {'Chicago': 1000, 'New York': 1300, 'Portland': 900, 'San Francisco': 1100,
     'Austin': 450, 'Boston': None}
cities = pd.Series(d)
cities

Austin            450.0
Boston              NaN
Chicago          1000.0
New York         1300.0
Portland          900.0
San Francisco    1100.0
dtype: float64

Se puede usar el indice para acceder a la estructura

In [ ]:
print cities['Chicago']

In [ ]:
print cities[['Chicago', 'Portland', 'San Francisco']]

O se puede utilizar indexado booleano (como en numpy) para el acceso

In [10]:
print (cities[cities < 1000])

Austin      450.0
Portland    900.0
dtype: float64

Que ocurrio arriba? cities < 1000 devuelve un _Series_ de valores _True/False_ que depues se pasan a la estructura _Series_ idexando los items que corresponden con los valore _True_

In [11]:
less_than_1000 = cities < 1000
print(less_than_1000)
print('\n')
print(cities[less_than_1000])

Austin            True
Boston           False
Chicago          False
New York         False
Portland          True
San Francisco    False
dtype: bool


Austin      450.0
Portland    900.0
dtype: float64

Se puede cambiar el valor de _Series_

In [12]:
# cambiando valores basado en el indice
print('Old value:', cities['Chicago'])
cities['Chicago'] = 1400
print('New value:', cities['Chicago'])

Old value: 1000.0
New value: 1400.0

In [14]:
# cambiando valores usando logica booleana
print(cities[cities < 1000])
print('\n')
cities[cities < 1000] = 750

print (cities[cities < 1000])

Austin      450.0
Portland    900.0
dtype: float64


Austin      750.0
Portland    750.0
dtype: float64

Se puede comprobar si un item esta contenido en la _Series_

In [ ]:
print('Seattle' in cities)
print('San Francisco' in cities)

Se pueden hacer operaciones aritmeticas

In [15]:
# dividir por 3
print(cities / 3)

Austin           250.000000
Boston                  NaN
Chicago          466.666667
New York         433.333333
Portland         250.000000
San Francisco    366.666667
dtype: float64

In [16]:
# elevar al cuadrado
print (np.square(cities))

Austin            562500.0
Boston                 NaN
Chicago          1960000.0
New York         1690000.0
Portland          562500.0
San Francisco    1210000.0
dtype: float64

In [17]:
print(cities[['Chicago', 'New York', 'Portland']])
print('\n')
print(cities[['Austin', 'New York']])
print('\n')
print(cities[['Chicago', 'New York', 'Portland']] + cities[['Austin', 'New York']])

Chicago     1400.0
New York    1300.0
Portland     750.0
dtype: float64


Austin       750.0
New York    1300.0
dtype: float64


Austin         NaN
Chicago        NaN
New York    2600.0
Portland       NaN
dtype: float64

Nota que Austin, Chicago y Portlan no se encontraron en ambas _Series_, fueron retornadas con valores NULL/NaN.

Se puede comprobar si un valor es NULL a traves de _isnull_ y _notnull_ .

In [18]:
# devuelve una Serie booleana diciendo cuales no son Null
print (cities.notnull())

Austin            True
Boston           False
Chicago           True
New York          True
Portland          True
San Francisco     True
dtype: bool

Se puede usar logica booleana para indexar las ciudades que no son NULL

In [19]:
# usando logica booleana para indexar las ciudades que no son NULL
print(cities.isnull())
print('\n')
print(cities[cities.isnull()])

Austin           False
Boston            True
Chicago          False
New York         False
Portland         False
San Francisco    False
dtype: bool


Boston   NaN
dtype: float64

## Dataframe

Puedes pensar en un _Dataframe_ como una estructura de datos tabular que almacena cualquier clase de informacion en filas y columnas. Por hacer un simil, uno podria pensar en un hoja de Excel como algo similar (no es lo mismo pero se parecen).

En realidad un _Dataframe_ no es mas que un conjunto de estructuras _Series_ que comparten un mismo indice. Por defecto el indice va de 0 hasta N-1 donde N es el numero de filas del _Dataframe_. Se puede crear de forma manual un _Dataframe_ como sigue.

In [20]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Barca', 'Barca', 'Barca', 'Madrid', 'Madrid', 'Mallorca', 'Mallorca', 'Mallorca'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
football = pd.DataFrame(data, columns=['year', 'team', 'wins', 'losses'])
football.head()

   year    team  wins  losses
0  2010   Barca    11       5
1  2011   Barca     8       8
2  2012   Barca    10       6
3  2011  Madrid    15       1
4  2012  Madrid    11       5

Es mucho mas habitual leer un _Dataframe_ desde un fichero de texto _csv_ con la funcion de _Pandas_ _pd.read\_csv_

In [21]:
nuc_pob = pd.read_csv('NucleosPoblacion.csv')

La funcion _head()_ nos permite explorar las primeras filas del _Dataframe_ y la funcion _tail()_ las ultimas.

In [22]:
nuc_pob.head() # primeras lineas del dataframe

,FID,OBJECTID,Texto,Poblacion,CodMun,Municipio,CodProvin,Provincia,X,Y
0,0,1,Agüimes,29431.0,35002,Agüimes,35,Las Palmas,-15.446012,27.900542
1,1,2,Antigua,10458.0,35003,Antigua,35,Las Palmas,-14.013301,28.418966
2,2,3,Arrecife,58156.0,35004,Arrecife,35,Las Palmas,-13.551451,28.960649
3,3,4,Arucas,36745.0,35006,Arucas,35,Las Palmas,-15.521512,28.117496
4,4,5,Gáldar,24473.0,35009,Gáldar,35,Las Palmas,-15.654111,28.143873

In [23]:
nuc_pob.tail() # ultimas lineas del dataframe

,FID,OBJECTID,Texto,Poblacion,CodMun,Municipio,CodProvin,Provincia,X,Y
847,847,848,Infante Juan Manuel,14192.0,30030,Murcia,30,Murcia,-1.124304,37.979033
848,848,849,Santa Maria de Gracia,13349.0,30030,Murcia,30,Murcia,-1.202069,37.984024
849,849,850,Vista Alegre,15208.0,30030,Murcia,30,Murcia,-1.130564,37.995715
850,850,851,Poligono Sta M de Benquerencia,19177.0,45168,Toledo,45,Toledo,-3.948364,39.866699
851,851,852,Grao,16367.0,12040,Castellón de la Plana/Castelló de la Plana,12,Castelló/Castellón,0.012911,39.973568

Al igual que en el modulo _Numpy_ se pueden realizar operaciones de forma muy sencilla con el indexado booleano

In [24]:
print ('Mean Poblacion', nuc_pob['Poblacion'].mean())
print ('STD Poblacion', nuc_pob['Poblacion'].std())
print ('Min Poblacion', nuc_pob['Poblacion'].min())
print ('Max Poblacion', nuc_pob['Poblacion'].max())

Mean Poblacion 45710.85680751174
STD Poblacion 140598.14339650262
Min Poblacion 10037.0
Max Poblacion 3273049.0

Y se pueden combinar las operaciones para obtener resultados mas interesantes

In [25]:
nuc_pob[nuc_pob['Poblacion'] >50000].head()

,FID,OBJECTID,Texto,Poblacion,CodMun,Municipio,CodProvin,Provincia,X,Y
2,2,3,Arrecife,58156.0,35004,Arrecife,35,Las Palmas,-13.551451,28.960649
9,9,10,Las Palmas de Gran Canaria,383308.0,35016,Las Palmas de Gran Canaria,35,Las Palmas,-15.413387,28.099775
13,13,14,Santa Lucía de Tirajana,64845.0,35022,Santa Lucía de Tirajana,35,Las Palmas,-15.540409,27.911841
16,16,17,Telde,100900.0,35026,Telde,35,Las Palmas,-15.416666,27.994202
22,22,23,Arona,79377.0,38006,Arona,38,Santa Cruz de Tenerife,-16.679684,28.099518

In [26]:
nuc_pob[(nuc_pob['Poblacion'] >50000) & (nuc_pob['Provincia'] == 'Granada') ].head()

,FID,OBJECTID,Texto,Poblacion,CodMun,Municipio,CodProvin,Provincia,X,Y
272,272,273,Granada,239154.0,18087,Granada,18,Granada,-3.600019,37.176419
278,278,279,Motril,60884.0,18140,Motril,18,Granada,-3.521234,36.745746

Ordenar los valores en base a una columna nunca fue tan sencillo

In [27]:
nuc_pob.sort_values('Poblacion', ascending = False).head() # si pones ascending = True los ordena en orden ascendente

,FID,OBJECTID,Texto,Poblacion,CodMun,Municipio,CodProvin,Provincia,X,Y
355,355,356,Madrid,3273049.0,28079,Madrid,28,Madrid,-3.703797,40.416630
623,623,624,Barcelona,1619337.0,8019,Barcelona,8,Barcelona,2.176349,41.384247
561,561,562,Valencia,809267.0,46250,Valencia,46,València/Valencia,-0.375657,39.475344
492,492,493,Sevilla,704198.0,41091,Sevilla,41,Sevilla,-5.992514,37.386205
591,591,592,Zaragoza,675121.0,50297,Zaragoza,50,Zaragoza,-0.879287,41.656457

Puedes resetear el indice para que despues de ordenarlos cambie. Observa como cambia el indice y ahora se ha reseteado y aparece el nuevo indice con las ciudades ordenadas.

In [28]:
# Esto puede servirte muy util para ordenar y encontrar luego posiciones
nuc_pob.sort_values('Poblacion', ascending = False).reset_index(drop=True).head() # con drop nos deshacemos del antiguo indice

,FID,OBJECTID,Texto,Poblacion,CodMun,Municipio,CodProvin,Provincia,X,Y
0,355,356,Madrid,3273049.0,28079,Madrid,28,Madrid,-3.703797,40.416630
1,623,624,Barcelona,1619337.0,8019,Barcelona,8,Barcelona,2.176349,41.384247
2,561,562,Valencia,809267.0,46250,Valencia,46,València/Valencia,-0.375657,39.475344
3,492,493,Sevilla,704198.0,41091,Sevilla,41,Sevilla,-5.992514,37.386205
4,591,592,Zaragoza,675121.0,50297,Zaragoza,50,Zaragoza,-0.879287,41.656457

# Ejercicios

1 - Carga el fichero 'NucleosPoblacion.csv' explora con las funciones _head_ y _tail_ el principio y el final.

In [142]:
nuc_pob = pd.read_csv('NucleosPoblacion.csv')

2 - Cual es la ciudad mas poblada?

In [ ]:
nuc_pob.sort_values('Poblacion', ascending=False)

3 - Que posicion ocupa Granada en las mas pobladas?. La funcion _sort_values puede ayudarte en tu cometido

In [40]:
gran = nuc_pob.sort_values('Poblacion', ascending=False)
gran[gran['Municipio']=='Granada']

,FID,OBJECTID,Texto,Poblacion,CodMun,Municipio,CodProvin,Provincia,X,Y
272,272,273,Granada,239154.0,18087,Granada,18,Granada,-3.600019,37.176419

4 - Escribe el nombre de los 10 municipios con menor poblacion

In [67]:
pob = nuc_pob.sort_values('Poblacion', ascending = True).reset_index(drop=True)[:10]
pob[['Poblacion', 'Texto']]

SyntaxError: invalid syntax (<ipython-input-67-a5fdcc02e022>, line 1)

5 - Cuantos municipios en Extremadura tienen mas de 5000 habitantes?

In [73]:
nuc_pob[(nuc_pob['Poblacion']>50000) & 
        ((nuc_pob['Provincia']=='Badajoz') | 
       (nuc_pob['Provincia']=='Cáceres'))]

,FID,OBJECTID,Texto,Poblacion,CodMun,Municipio,CodProvin,Provincia,X,Y
42,42,43,Badajoz,150376.0,6015,Badajoz,6,Badajoz,-6.970997,38.878743
43,43,44,Mérida,57127.0,6083,Mérida,6,Badajoz,-6.344172,38.917388
48,48,49,Cáceres,94179.0,10037,Cáceres,10,Cáceres,-6.371211,39.473168

6 - ¿Cuál es el municipio situado más al Norte? (Usar el valor de la coordenada "Y" que representa la latitud en grados). Proporcione también la provincia a la que pertenece y su población.

In [79]:
nuc_pob[nuc_pob['Y'] == nuc_pob['Y'].max()]['Municipio']

104    Viveiro
Name: Municipio, dtype: object

7 - ¿Cual es el municipio de la provincia de Granada situado más al Este?. ¿Cual es el situado más al Oeste?.

In [93]:
a = nuc_pob[(nuc_pob['Provincia']=='Granada')]
a[(a['X'] == a['X'].max())]['Municipio']
a[(a['X'] == a['X'].min())]['Municipio']

276    Loja
Name: Municipio, dtype: object

8 - ¿Cuántos Municipios hay en un radio de 5 grados de la ciudad de Barcelona?.

In [96]:
X_bcn = nuc_pob[nuc_pob['Municipio'] == 'Barcelona'].X.iloc[0]
Y_bcn = nuc_pob[nuc_pob['Municipio'] == 'Barcelona'].Y.iloc[0]


nuc_pob[(nuc_pob['X']<X_bcn+5) & (nuc_pob['X']>X_bcn-5) &
       (nuc_pob['Y']<Y_bcn+5) & (nuc_pob['Y']>Y_bcn-5)]

,FID,OBJECTID,Texto,Poblacion,CodMun,Municipio,CodProvin,Provincia,X,Y
155,155,156,La Roda,16299.0,2069,La Roda,2,Albacete,-2.159248,39.207065
156,156,157,Villarrobledo,26686.0,2081,Villarrobledo,2,Albacete,-2.607143,39.267558
157,157,158,Albatera,11821.0,3005,Albatera,3,Alacant/Alicante,-0.873187,38.178862
158,158,159,Alcoy/Alcoi,61417.0,3009,Alcoy/Alcoi,3,Alacant/Alicante,-0.473184,38.698369
159,159,160,L'Alfàs del Pi,21332.0,3011,L'Alfàs del Pi,3,Alacant/Alicante,-0.102600,38.580095
160,160,161,Alacant/Alicante,334418.0,3014,Alacant/Alicante,3,Alacant/Alicante,-0.483183,38.345487
161,161,162,Almoradí,19598.0,3015,Almoradí,3,Alacant/Alicante,-0.792017,38.109780
162,162,163,Altea,24006.0,3018,Altea,3,Alacant/Alicante,-0.051442,38.598925
163,163,164,Aspe,20360.0,3019,Aspe,3,Alacant/Alicante,-0.768491,38.345773
164,164,165,Benidorm,71198.0,3031,Benidorm,3,Alacant/Alicante,-0.130685,38.534271
165,165,166,Callosa de Segura,18008.0,3049,Callosa de Segura,3,Alacant/Alicante,-0.879339,38.122581
166,166,167,El Campello,26941.0,3050,El Campello,3,Alacant/Alicante,-0.400865,38.427547
167,167,168,Castalla,10513.0,3053,Castalla,3,Alacant/Alicante,-0.670265,38.596576
170,170,171,Vitoria-Gasteiz,238247.0,1059,Vitoria-Gasteiz,1,Álava,-2.672757,42.850588
171,171,172,Albacete,170475.0,2003,Albacete,2,Albacete,-1.855747,38.995881
172,172,173,Almansa,25654.0,2009,Almansa,2,Albacete,-1.094147,38.869688
173,173,174,Caudete,10450.0,2025,Caudete,2,Albacete,-0.988691,38.705730
174,174,175,Hellín,31109.0,2037,Hellín,2,Albacete,-1.703449,38.512190
175,175,176,Cocentaina,11534.0,3056,Cocentaina,3,Alacant/Alicante,-0.440221,38.745412
176,176,177,Crevillent,28738.0,3059,Crevillent,3,Alacant/Alicante,-0.808553,38.248814
177,177,178,Elche/Elx,230822.0,3065,Elche/Elx,3,Alacant/Alicante,-0.697756,38.267417
178,178,179,Elda,54815.0,3066,Elda,3,Alacant/Alicante,-0.796110,38.478789
179,179,180,Guardamar del Segura,16423.0,3076,Guardamar del Segura,3,Alacant/Alicante,-0.654770,38.089881
180,180,181,Ibi,23861.0,3079,Ibi,3,Alacant/Alicante,-0.575895,38.622644
181,181,182,Monóvar/Monòver,12928.0,3089,Monóvar/Monòver,3,Alacant/Alicante,-0.837805,38.437216
182,182,183,Mutxamel,23066.0,3090,Mutxamel,3,Alacant/Alicante,-0.437584,38.423744
183,183,184,Novelda,27104.0,3093,Novelda,3,Alacant/Alicante,-0.765398,38.386064
184,184,185,La Nucia,18225.0,3094,La Nucia,3,Alacant/Alicante,-0.122897,38.617616
185,185,186,Orihuela,87113.0,3099,Orihuela,3,Alacant/Alicante,-0.946646,38.085741
186,186,187,Pego,11208.0,3102,Pego,3,Alacant/Alicante,-0.118032,38.842017
...,...,...,...,...,...,...,...,...,...,...
816,816,817,La Cañada,11401.0,46190,Paterna,46,València/Valencia,-0.488275,39.525355
817,817,818,El Puerto,41406.0,46220,Sagunto/Sagunt,46,València/Valencia,-0.215318,39.660566
818,818,819,Monte Vedat,11663.0,46244,Torrent,46,València/Valencia,-0.493094,39.423659
819,819,820,Benimamet-Beniferri,14328.0,46250,Valencia,46,València/Valencia,-0.405382,39.496237
823,823,824,Jávea/Xàbia,31909.0,3082,Jávea/Xàbia,3,Alacant/Alicante,0.162277,38.785672
824,824,825,Teulada,14778.0,3128,Teulada,3,Alacant/Alicante,0.102308,38.729117
825,825,826,Santa Ponça,11033.0,7011,Calvià,7,Illes Balears,2.466745,39.506262
826,826,827,S' Arenal,10242.0,7031,Llucmajor,7,Illes Balears,2.753480,39.502268
827,827,828,Pont d'inca,18565.0,7036,Marratxí,7,Illes Balears,2.693164,39.596734
828,828,829,Es Coll De'n Rabassa,10601.0,7040,Palma,7,Illes Balears,2.696282,39.549438
829,829,830,Sant Agustí,15211.0,7040,Palma,7,Illes Balears,2.599665,39.551849
830,830,831,Sa Vileta,23356.0,7040,Palma,7,Illes Balears,2.626224,39.591134
831,831,832,Platja de Palma,11747.0,7040,Palma,7,Illes Balears,2.731277,39.529250
832,832,833,Santa Eulalia del Río,16514.0,7054,Santa Eulalia del Río,7,Illes Balears,1.529107,38.983836
833,833,834,Eixample,10545.0,8159,Parets del Vallès,8,Barcelona,2.222967,41.558910
834,834,835,Mira-Sol,11928.0,8205,Sant Cugat del Vallès,8,Barcelona,2.052824,41.466661
835,835,836,Les Roquetes,11624.0,8231,Sant Pere de Ribes,8,Barcelona,1.756806,41.227851
836,836,837,Segur de Calafell,11765.0,43037,Calafell,43,Tarragona,1.608391,41.194174
837,837,838,Sant Pere I Sant Pau,16137.0,43148,Tarragona,43,Tarragona,1.252699,41.139067
838,838,839,Torreforta,23443.0,43148,Tarragona,43,Tarragona,1.218093,41.118991
840,840,841,Ciudad Quesada,15607.0,3113,Rojales,3,Alacant/Alicante,-0.721333,38.067826
841,841,842,Marina-Oasis,10196.0,3118,San Fulgencio,3,Alacant/Alicante,-0.692970,38.136116
843,843,844,San Cristobal,12790.0,30024,Lorca,30,Murcia,-1.695129,37.681182
844,844,845,San Jose,11905.0,30024,Lorca,30,Murcia,-1.703197,37.668545
845,845,846,San Mateo,10746.0,30024,Lorca,30,Murcia,-1.697629,37.674396
846,846,847,El Carmen,21879.0,30030,Murcia,30,Murcia,-1.130713,37.978180
847,847,848,Infante Juan Manuel,14192.0,30030,Murcia,30,Murcia,-1.124304,37.979033
848,848,849,Santa Maria de Gracia,13349.0,30030,Murcia,30,Murcia,-1.202069,37.984024
849,849,850,Vista Alegre,15208.0,30030,Murcia,30,Murcia,-1.130564,37.995715
851,851,852,Grao,16367.0,12040,Castellón de la Plana/Castelló de la Plana,12,Castelló/Castellón,0.012911,39.973568

9 - Obtenga la media, mediana, desviación estándar, valor máximo y valor mínimo de la población de los municipios de la provincia de Granada